<!DOCTYPE html>
    <head>
        <title>Vue 3 Basics</title>
        <style>
            .box {
                background-color: purple;
                height: 200px;
                width: 200px;
            }

            .box.two {
                background-color: red;
            }

            .box.three {
                background-color: blue;
            }

            [v-cloak] {
                display: none;
            }

            input {
                margin: 10px;
                display: block;
            }
        </style>
    </head>
    <body>
        
    <div id="app" v-cloak>

        <login-form />

        <hr />

        <button @click="toggleBox">Toggle Box</button>
        <div v-if="isVisible" class="box"></div>
    </div>


    <script src="https://unpkg.com/vue@3"></script>
    <script>

        // Pass options object
        let app = Vue.createApp({
            data: function() {
                return {
                    greeting: 'Hello Vue 3!',
                    isVisible: false, 
                }
            },
            methods: {
                toggleBox() {
                    this.isVisible = !this.isVisible
                },
                greet(greeting) {
                    console.log(greeting);
                }
            }   
        });

        // 
        app.component('login-form', {
            template: `
                <form @submit.prevent="handleSubmit">
                    <h1>{{ title }}</h1>
                    <input type="email" v-model="email" />
                    <input type="password" v-model="password"/>
                    <button>Log in</button>
                </form>
            `,
            data() {
                return {
                    title: 'Login Form',
                    email: '',
                    password: ''
                }
            }, 
            methods: {
                handleSubmit() {
                    console.log(this.email, this.password);
                }
            }
        });

        // Interact with DOM
        // A bit like getElementById
        app.mount('#app');

    </script>
    </body>
</html>