<!DOCTYPE html>
    <head>
        <title>Vue 3 Basics</title>
        <style>
            .box {
                background-color: purple;
                height: 200px;
                width: 200px;
            }

            .box.two {
                background-color: red;
            }

            .box.three {
                background-color: blue;
            }

            [v-cloak] {
                display: none;
            }

            input {
                margin: 10px;
                display: block;
            }
        </style>
    </head>
    <body>
        
    <div id="app" v-cloak>

        <login-form />

        <hr />

        <button @click="toggleBox">Toggle Box</button>
        <div v-if="isVisible" class="box"></div>
    </div>


    <script src="https://unpkg.com/vue@3"></script>
    <script>

        // Pass options object
        let app = Vue.createApp({
            data: function() {
                return {
                    greeting: 'Hello Vue 3!',
                    isVisible: false, 
                }
            },
            methods: {
                toggleBox() {
                    this.isVisible = !this.isVisible
                },
                greet(greeting) {
                    console.log(greeting);
                }
            }   
        });

        // login component
        app.component('login-form', {
            template: `
                <form @submit.prevent="handleSubmit">
                    <h1>{{ title }}</h1>
                    <custom-input 
                    v-for="(input, i) in inputs"
                    :key="i"
                    v-model="input.value"
                    :label="input.label"
                    :type="input.type" />
                    <button>Log in</button>
                </form>
            `,
            components: ['custom-input'],
            data() {
                return {
                    title: 'Login Form',
                    inputs: [{
                        label: 'Email', 
                        value: '',
                        type: 'email'
,                     },
                      {
                        label: 'Password', 
                        value: '', 
                        type: 'password'
                      }  
                    ]    
                }
            }, 
            methods: {
                handleSubmit() {
                    console.log(this.inputs[0].value, this.inputs[1].value);
                }
            }
        });

        app.component('custom-input', {
            template: `
                <label>
                    {{ label }}
                    <input :type="type" v-model="inputValue">
                </label>
            `,
            props: ['label', 'type', 'modelValue'],
            computed: {
                inputValue: {
                    get() {
                        return this.modelValue;
                    },
                    set(value) {
                        console.log(value);
                        this.$emit('update:modelValue', value);
                    }
                }
            },
            // data() {
            //     return {
            //         inputValue: ''
            //     }
            // }
        });

        // Interact with DOM
        // A bit like getElementById
        app.mount('#app');

    </script>
    </body>
</html>