
body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive, arial;
  font-size: 1.6em;
}

h1, h2, h3, h4, h5 {
  color: #FF00FF;
  font-family: 'Coda Caption', sans-serif, arial;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

ul, li {
  list-style-type: none;
}

ul li {
  margin: 1em;
  padding: 1em;
  border: 5px solid #000000;
}

.container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.colored {
  color: #FF00FF;
}
